<div class="container">
    <h4 class="m-4"><span style="background-color:#dddddd">ジャンル一覧・追加</span></h4>
</div>
<div class="container">
    <%= form_with model: [:admin,@genre] do |f| %>
    <div class="row pt-4 pb-4">
        <div class="col-2 text-center ">
            <%= f.label :name, "ジャンル名" %>
        </div>
        <div class="col-3">
            <%= f.text_field :name, class:'form-control' %>
        </div>
        <div class="col-3">
            <%= f.submit '新規登録', class: 'btn btn-success btn-block' %>
            <% end %>
        </div>
    </div>
</div>
